html {
    font-size: 14px;
    scroll-behavior: smooth;
    background-color: #f9f9f9;
}

@media screen and (min-width: 48em) {
    html {
        font-size: 100%;
    }
}

// h2 {
//     text-align: center;
// }

