.foot {
    background-color: var(--color-primary);
    padding: 0 1em;
    margin-top: 4em;
    

    .footerWrapper {
        width: 100%;
        max-width: 1200px;
        margin-top: 3em;
    }
    .footNavLogo {
        width: 11.25em;
        margin-bottom: 2em;
    }

    a {
        color: var(--color-secondary);
        i:hover {
            text-decoration: underline;
        }
    }
    a:hover {
        text-decoration: underline;
    }


    .footerNav {
        
        li {
            margin: 2.5em 0;
        }

        @media screen and (min-width: 75em) {
           li {
            margin: 0em 1.5em;
        } 
        }
    }

    .footerSocials {
        ul {
            display: flex;
            flex-direction: row;
            
            
            li:nth-child(2) {
                margin-left: 2em;
            }
        }
        
    }
    .footerCopy {
        border-top: .125em solid var(--color-secondary);
        margin-top: 2em;
        text-align: center;
        p {
            color: var(--color-secondary);
            margin: 2em 0;
            text-align: center;
        }
    }
}

.desktopFooter {
    display: none;
}

@media screen and (min-width: 75em) {
    .footerSocials {
        ul {
            justify-content: flex-end;
        }
    }

    .desktopFooter {
        display: block;
        margin-top: 3em;
    }

    .desktopFooterWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mobileFooter{
        display: none;
    }
}