/* ___________________________________________

    Guide
___________________________________________ */

/*  
    00. Hero Section
    01. Case Studies Section
    02. Project Section
    03. Contact Section

*/    

#main{
    margin: 0 1em;
}
#body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    h2, h3 {
        color: var(--color-secondary-2);
    }
}

/* ------------- Hero Section -------------*/
